<ion-header>
  <ion-item class="nav">
    <h1 class="title" *ngIf="!afAuth.authState | async">
      Examen UX
    </h1>

    <ion-avatar *ngIf="afAuth.authState | async" item-start>
      <img src={{currentUser.photoURL}}>
    </ion-avatar>
    <h1 *ngIf="afAuth.authState | async as user" class="title" item-start>{{ user.displayName }}</h1>

    <button *ngIf="afAuth.authState | async; else showLogin" ion-button item-end color="primary" (click)="logout()">Logout</button>
    <ng-template #showLogin>
      <button ion-button item-end (click)="login()">
        iniciar sesion
      </button>
    </ng-template>
  </ion-item>
</ion-header>

<ion-content padding>
  <div *ngIf="afAuth.authState | async as user">
    <div *ngFor="let message of messages | async">

      <ion-card class="cardSize" *ngIf="verMensaje(message)" >
        <ion-item>
          <ion-avatar item-start>
            <img src="{{message.photo}}">
          </ion-avatar>
          <h2>{{message.name}}</h2>
          <ion-col *ngIf="(message.uid).localeCompare(currentUser.uid)" item-end>
            <button ion-button clear>
              <ion-icon name="md-add-circle"></ion-icon>
            </button>
          </ion-col>
        </ion-item>

        <ion-card-content>
          <p>{{message.message}}</p>
        </ion-card-content>

        <ion-row left bottom>
          <ion-col left bottom>
            <button ion-button icon-left clear small (click)="like(message)">
              <ion-icon name="thumbs-up" class="likeOff"> {{message.likes}}</ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <ion-fab right bottom>
      <button ion-fab (click)="selectMessageType()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

  </div>

</ion-content>